* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* background-color: aqua; */
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -360px;
  margin-bottom: 360px;
  border-radius: 100%;
}

#content_center {
  text-align: center;
  background-color: whitesmoke
}

.text {
  max-width: 450px;
  text-align: center;
  padding: 10px;
}

.subscription {
  display: flex;
  justify-content: space-between;
  width: 300px;
  /* background-color:#f0f8ff; */
  margin-left: auto;
  margin-right: auto;
}

.change {
  margin-left: 100px;
  margin-top: 15px;
  color: blue;
  cursor: pointer;
}
.annual_plan {
  margin-top: 7px;
}

#proceed {
  margin-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: blueviolet;
  border: none;
  color: white;
  border-radius: 19px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cancel {
  cursor: pointer;
  color: grey;
  margin-bottom: 40px;
}


/* add this media query to adjust styles for mobile phone screens */
@media only screen and (max-width: 600px) {
  
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  /* Adjust #container style for mobile */
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -180px;
    margin-bottom: 180px;
    border-radius: 100%;
  }
  
  /* Adjust #content_center style for mobile */
  #content_center {
    text-align: center;
    background-color: whitesmoke
  }

   /* adjust .text style for mobile */
   .text {
    max-width: 250px;
    text-align: center;
    padding: 10px;
  }
  
  /* adjust .subscription style for mobile */
  .subscription {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* adjust .change style for mobile */
  .change {
    margin: 15px auto 5px auto;
    color: blue;
    cursor: pointer;
  }
  
  /* adjust annual plan style for mobile */
  .annual_plan {
    margin-top: 7px;
  }
  
  /* adjust #proceed style for mobile */
  #proceed {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    color: white;
    background-color: blueviolet;
    border-radius: 19px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* adjust .cancel style for mobile */
  .cancel {
    cursor: pointer;
    color: grey;
    margin-bottom: 40px;
  }
}
