/* Media Query For Mobile device*/
@media (max-width: 480px){
  *{
    margin: 0;
    padding:0;
  }
  #contains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #order{
    margin-top: 10px;
  }
  #textarea{
    margin-left: 22px;
    margin-right: 22px;
  }
  #container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

  }
  .subs{
    margin-top:5px;
    margin-left:-3px;
  }
  .change{
    margin-top:15px;
    color:blue
  }
  #btn{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    color:white
  }
  .cancel{
    margin-top: 15px;
    color: grey;
  }
  .bgp{
    display: none;
  }
}

/* Media Resolution For Low Graphics  */
@media (min-width: 481px) and (max-width: 767px){
  *{
    margin: 0;
    padding:0;
  }
  #contains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #order{
    margin-top: 10px;
  }
  #textarea{
    margin-left: 22px;
    margin-right: 22px;
  }
  #container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

  }
  .subs{
    margin-top:5px;
    margin-left:-3px;
  }
  .change{
    margin-top:15px;
    color:blue
  }
  #btn{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    color:white
  }
  .cancel{
    margin-top: 15px;
    color: grey;
  }
  .bgp{
    display: none;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  *{
    margin: 0;
    padding:0;
  }
  #contains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #order{
    margin-top: 10px;
  }
  #textarea{
    margin-left: 22px;
    margin-right: 22px;
  }
  #container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

  }
  .subs{
    margin-top:5px;
    margin-left:-3px;
  }
  .change{
    margin-top:15px;
    color:blue
  }
  #btn{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    color:white
  }
  .cancel{
    margin-top: 15px;
    color: grey;
  }
  .bgp{
    display: none;
  }

}

/* Media Query for Laptops and Desktops */

@media (min-width: 1025px) and (max-width: 1280px){
  *{
    margin: 0;
    padding:0;
  }
  #contains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #order{
    margin-top: 10px;
  }
  #textarea{
    margin-left: 22px;
    margin-right: 22px;
  }
  #container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

  }
  .subs{
    margin-top:5px;
    margin-left:-3px;
  }
  .change{
    margin-top:15px;
    color:blue
  }
  #btn{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    color:white
  }
  .cancel{
    margin-top: 15px;
    color: grey;
  }
  .bgp{
    display: none;
  }
}

/* Media Query For Large Screen */
@media (min-width: 1281px){
  *{
    margin: 0;
    padding: 0;
  }
  .bgp{
    width: 100%;
    z-index:-1;
  }
  #contains{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:33%;
    text-align: center;
    margin-left: 33.3%;
    margin-right: 33.3%;
    background-color:wheat;
    margin-top: -435px;
    z-index: 1;
    border-radius: 9px;
  }
  #order{
    margin-top: 10px;
  }
  #textarea{
    margin-top: 7px;
    padding-left: 3px;
    padding-right: 3px;
  }
  #container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .subs{
    margin-top:9px;
    margin-left:-32px;
  }
  .change{
    margin-top: 18px;
    color: blue;
    cursor: pointer;
  }
  #btn{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    color:white
  }
  .cancel{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}